---
---
{% include css/base.css %}
{% include css/pygments.css %}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  font-size: 14px;
  line-height: 1.5; }

p + p { margin-top: 1.5em; }

.wrapper { text-align: center; }

.span { text-align: left; }

.toc {
  position: fixed;
  width: 240px; }

.toc > .span-inner { padding-left: 80px; }

.toc h5.checked,
.toc h5.checked:hover { color: red; }

.toc h5:hover { color: blue; }

.main {
  margin-left: 240px;
  width: 640px; }

.main > .span-inner { padding-right: 80px; }

html { overflow-y: scroll; }

div.highlight { background-color: #f8f8f8; }

code { font-weight: bold; }

div.highlight code { font-weight: inherit; }

p + div.highlight { margin-top: 2em; }

div.demo + p { margin-top: 2em; }

fieldset + fieldset { margin-top: 5px; }

div.highlight,
div.demo {
  padding: 12px;
  border: 1px solid #ccc; }

div.demo { border-top: none; }

input[type='text'],
input[type='submit'] { border: 1px solid #888; padding: .5em; }

input[type='submit']:active { background: white; }

fieldset + fieldset {
  margin-top: 15px; }

div.demo.overview3 ul,
div.demo.overview4 ul {
  border: 1px solid #ccc;
}

div.demo.overview3 li + li,
div.demo.overview4 div + div {
  border-top: 1px solid #ccc;
}

div.demo.overview3 li,
div.demo.overview4 div {
  padding: 12px;
  background-color: #f8f8f8;
}

div.demo.overview3 ul li[depends-on='menu'] {
  background-color: white; }
  
