/******************************************************************************
 * CSS RESET
 *****************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
input, textarea, select, button,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************************************************
 * CLEAR FIX
 *****************************************************************************/

.clearfix:after,
.form-horizontal div.control-group:after,
.group:after,
div.alert-inner:after,
ul.pagination:after,
div.data-table-main:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1; /* IE 5.5/6/7 */
}

.clear {
    clear: both;
}

/******************************************************************************
 * GRID
 *****************************************************************************/

.span > div.span-inner {
    /* padding: 2em; */
}

.span + .span > div.span-inner {
    margin-left: 2em;
}

.span {
    display: inline-block;
    vertical-align: top;
}

.span-1  { width: 5.801104972%; }
.span-2  { width: 14.364640883%; }
.span-3  { width: 22.928176794%; }
.span-4  { width: 31.491712705%; }
.span-5  { width: 40.055248616%; }
.span-6  { width: 48.618784527%; }
.span-7  { width: 57.182320438000005%; }
.span-8  { width: 65.74585634900001%; }
.span-9  { width: 74.30939226%; }
.span-10 { width: 82.87292817100001%; }
.span-11 { width: 91.436464082%; }
.span-12 { width: 99.999999993%; }

.span-main > div.span-inner,
.span-aside > div.span-inner {
    /* border: 1px solid #CCCCCC; */
}

button,
div.control.control-select-single,
div.tabs-controller > ul.tabs,
div.control-checkbox-inner input,
div.alert span.close,
div.data-table span.pin {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

/******************************************************************************
 * TYPOGRAPHY
 *****************************************************************************/

body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: blue;
}

pre, code {
    font-family: "Andale Mono", "Lucida Console", "Courier", monospace;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin: .5em 0;
}

h2 {
    font-size: 2em;
    margin: .75em 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin: 1em 0;
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin: 1.25em 0;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 1.5em 0;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    margin: 2em 0 1em 0;
    border: 0;
    border-top: 2px dashed #DDDDDD;
}

p.copy-std {
    font-size: 14px;
    line-height: 1.5;
}

p.copy-lit {
    text-indent: 1.5em;
}

/******************************************************************************
 * LAYOUT - BODY
 *****************************************************************************/

.wrapper {
    padding: 50px;
}

/******************************************************************************
 * LAYOUT - TABLE
 *****************************************************************************/

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
}

table th,
table td {
    padding: .5em;
    border: 1px solid #CCCCCC;
}

table th {
    text-align: left;
    font-weight: bold;
}

table tbody tr:nth-of-type(2n+1) {
    background-color: #EEEEEE;
}

/******************************************************************************
 * LAYOUT - NAVIGATION
 *****************************************************************************/
 
/* Tabs
 * ------------------------------------------------------------------------- */

div.tabs {

}

div.tabs-controller {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-bottom: 0;
}

div.tabs-controller.tabs-std {
    padding: 1em 1em 0 1em;
}

div.tabs-controller > ul.tabs {
    
}

div.tabs-controller > ul.tabs > li {
    display: block;
    float: left;
    padding: 1em;
}

div.tabs-controller.tabs-std > ul.tabs > li {
    border: 1px solid #CCCCCC;
    border-bottom: 0;
}

div.tabs-controller > ul.tabs > li + li {
    border-left: 1px solid #CCCCCC;
}

div.tabs-controller.tabs-std > ul.tabs > li + li {
    margin-left: .5em;
}

div.tabs-controller > ul.tabs > li {
    background-color: #EEEEEE;
}

div.tabs-controller > ul.tabs > li[selected] {
    background-color: #FFFFFF;
    font-weight: bold;
}

div.tabs-view {
    padding: 2em;
    border: 1px solid #CCCCCC;
    border-top: 0;
}

/* Navigation List
 * ------------------------------------------------------------------------- */

ul.nav-list {
    font-size: 14px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    overflow: hidden;
}

ul.nav-list li.nav-title {
    font-weight: bold;
    color: #666666;
    padding: .5em;
}

ul.nav-list li a {
    display: block;
    padding: .5em;
    width: 100%;
}

ul.nav-list li a:hover {
    background-color: #EEEEEE;
}

ul.nav-list li + li {
    border-top: 1px solid #DDDDDD;
}

ul.nav-list li[selected] a {
    background-color: blue;
    color: #FFFFFF;
}

/* Breadcrumbs
 * ------------------------------------------------------------------------- */

div.breadcrumbs {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-weight: bold;
}

div.breadcrumbs-inner {
    padding: 1em;
}

div.breadcrumbs span.divider {
    color: #CCCCCC;
    margin: 0 .5em;
}

/* Pagination
 * ------------------------------------------------------------------------- */

ul.pagination {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    display: inline-block;
}

ul.pagination li {
    float: left;
}

ul.pagination li + li {
    border-left: 1px solid #DDDDDD;
}

ul.pagination li a {
    padding: .75em;
    display: block;
}

ul.pagination li a:hover {
    background-color: #EEEEEE;
}

ul.pagination li[selected] a {
    background-color: blue;
    color: #FFFFFF;
}

/******************************************************************************
 * MISCELLANEOUS
 *****************************************************************************/

/* Alert
 * ------------------------------------------------------------------------- */

div.alert {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom: 1em;
}

div.alert > div.alert-inner {
    padding: .5em;
}

div.alert.warning {
    border-color: orange;
    color: orange;
}

div.alert.success {
    border-color: green;
    color: green;
}

div.alert.error {
    border-color: red;
    color: red;
}

div.alert-description {
    float: left;
    padding: .5em;
    width: 80%;
}

div.alert span.close {
    cursor: pointer;
    font-size: 16px;
    display: block;
    float: right;
    margin-right: .125em;
}

div.alert span.close:hover {
    opacity: .5;
}

/* Label
 * ------------------------------------------------------------------------- */

span.label {
    padding: .25em .5em;
    border-radius: 4px;
    font-weight: bold;
    background-color: #EEEEEE;
}

span.label + span.label {
    margin-left: .5em;
}

span.label.warning {
    background-color: orange;
    color: #FFFFFF;
}

span.label.success {
    background-color: green;
    color: #FFFFFF;
}

span.label.error {
    background-color: red;
    color: #FFFFFF;
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}
