# Overview

***

The TFD-UI library makes it possible to define complex, dynamic behaviors in
HTML webpages without writing any JavaScript code. Attributes on the HTML
elements are used to define these behaviors. The library includes a number of
useful modules to handle such things as forms, form validation, inline
templates (and filling of templates from AJAX JSON requests), deep-linking,
etc.

Additionally, an inline widget factory type of thing is also included, to make
abstraction and composition of HTML markup and behaviors possible.

### Example:

{% highlight html %}
<h1>hello world</h1>
{% endhighlight %}
