---
layout: base
tfdsrc: js/tfd-ui-docs.js
csssrc: css/tfd-ui-docs.css
---
<div class="wrapper">
  <div class="group">
    <div class="toc span">
      <div class="span-inner">
        <h5 template="toc">
          <a data-fill="title" data-interp-href="#/?section=${id}"></a>
        </h5>
      </div>
    </div>
    <div class="main span">
      <form name="/" get-sections="section-content" fill-template-toc
            bind-url >
        <input type="hidden" name="section" />
      </form>
      <div class="span-inner hyphenate" name="section-content"
           make-sections="/" >
        {{ content | markdownify }}
      </div>
    </div>
  </div>
</div>
